In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("/Users/Ellen/Documents/Dokumenter/DTU/7. Semester/Bachelor/CSV files")

poiNames = pd.read_csv("POInames.csv") #load poiNames

#load the probability matrices
p1 = pd.read_csv("p1.csv", header = None).T
p2 = pd.read_csv("p2.csv", header = None).T
p3 = pd.read_csv("p3.csv", header = None).T
p4 = pd.read_csv("p4.csv", header = None).T
p5 = pd.read_csv("p5.csv", header = None).T
p6 = pd.read_csv("p6.csv", header = None).T
p7 = pd.read_csv("p7.csv", header = None).T
p8 = pd.read_csv("p8.csv", header = None).T
p9 = pd.read_csv("p9.csv", header = None).T
p10 = pd.read_csv("p10.csv", header = None).T

In [3]:
dfP = pd.concat([p1, p2, p3, p4, p5, p6, p7, p8, p9, p10]).reset_index(drop=True)

In [4]:
dfP

,0,1,2,3,4,5,6,7,8,9,...,162,163,164,165,166,167,168,169,170,171
0,0.226190,0.142857,0.095238,0.011905,0.011905,0.011905,0.000000,0.0,0.202381,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.100000,0.600000,0.200000,0.020000,0.020000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.376344,0.000000,0.258065,0.010753,0.021505,0.086022,0.010753,0.0,0.053763,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.196429,0.160714,0.071429,0.062500,0.008929,0.008929,0.000000,0.0,0.053571,0.017857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.060606,0.030303,0.090909,0.053030,0.007576,0.000000,0.000000,0.0,0.363636,0.007576,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92719,0.566667,0.033333,0.216667,0.100000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92720,0.819672,0.008197,0.098361,0.008197,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92721,0.849057,0.113208,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92722,0.860465,0.069767,0.069767,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92723,0.788462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.019231,0.096154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#all stop subcategories to df

stop = [['home'], ['work'], ['other']]

# Create the pandas DataFrame
stopdf = pd.DataFrame(stop, columns = ['StopName'])
    
#Names for all stops (both POI and home, work, other)
stopNames = pd.concat([stopdf, poiNames]).reset_index(drop=True)

In [6]:
stopNames

                 StopName
0                    home
1                    work
2                   other
3       Food & Drink Shop
4    Fast Food Restaurant
..                    ...
167             Dive Shop
168       Cultural Center
169            Bath House
170      Lottery Retailer
171           Observatory

[172 rows x 1 columns]

In [7]:
#min sum of prob
min(dfP.sum())

0.014925373134328356

In [8]:
#index of min sum of prob
minProb = np.argmin(dfP.sum())

In [9]:
#stop with the lowest sum of prob
stopNames.iloc[minProb]

StopName    Windmill
Name: 166, dtype: object

In [10]:
#Max prob for user at Windmill
max(dfP.iloc[:,minProb])

0.014925373134328356

In [11]:
dfP.to_csv('Biprob.csv', index=False)