In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("/Users/Ellen/Documents/Dokumenter/DTU/7. Semester/Bachelor")

#load data
data = "data.csv"
df =  pd.read_csv(data)

In [3]:
df

,userId,incrementalId,POIId,weekday,hour,minutes_spent,stop_type,name1_fs,name2_fs
0,0,1,NaN,4,0,1881.216667,home,NaN,NaN
1,0,2,NaN,5,8,40.400000,other,NaN,NaN
2,0,3,1.202591e+12,5,10,77.350000,poi,Shop & Service,Tailor Shop
3,0,4,NaN,5,11,376.450000,home,NaN,NaN
4,0,5,1.202591e+12,5,18,5.216667,poi,Shop & Service,Tailor Shop
...,...,...,...,...,...,...,...,...,...
20071654,403726927905,61,NaN,6,8,5.083333,home,NaN,NaN
20071655,403726927905,62,1.537598e+12,6,9,63.316667,poi,Professional & Other Places,School
20071656,403726927905,63,NaN,6,11,233.016667,home,NaN,NaN
20071657,403726927905,64,NaN,6,18,1609.166667,home,NaN,NaN
20071658,403726927905,65,NaN,7,22,2595.416667,home,NaN,NaN

In [4]:
#list with the users
users = df['userId'].unique().tolist()

In [5]:
#number of stops for each user
stop = df.groupby(['userId']).count()['incrementalId'].reset_index()

In [6]:
#number of stops for each stop type for each user
stopTypeCount = df.groupby(['userId', 'stop_type']).count()['incrementalId'].unstack().fillna(0)

In [7]:
#number of stops at home
homeStop = stopTypeCount.iloc[:,0]

In [8]:
#number of stops at other
otherStop = stopTypeCount.iloc[:,1]

In [9]:
#number of stops at POI's
poiStop = stopTypeCount.iloc[:,2]

In [10]:
#number of stops at work
workStop = stopTypeCount.iloc[:,3]

In [11]:
#Average number of stops in total
sum(stopTypeCount.sum())/len(stopTypeCount)

216.46670764850523

In [12]:
#Average number of stops at home
sum(homeStop)/len(stopTypeCount)

82.04373193563694

In [13]:
#Average number of stops at other
sum(otherStop)/len(stopTypeCount)

38.474677537638584

In [14]:
#average number of stop at POI
sum(poiStop)/len(stopTypeCount)

59.15836245200811

In [15]:
#Average number of stops at work
sum(workStop)/len(stopTypeCount)

36.7899357232216

In [16]:
#min number of stops(all stop)
print(min(stopTypeCount.sum(axis=1)))

#max number of stops(all stop)
print(max(stopTypeCount.sum(axis=1)))

60.0
1256.0

In [17]:
#min number of stops at home
print(min(homeStop))

#max number of stops at home
print(max(homeStop))

0.0
1176.0

In [18]:
#min number of stops at other
print(min(otherStop))

#max number of stops at other
print(max(otherStop))

0.0
640.0

In [19]:
#min number of stops at POI
print(min(poiStop))

#max number of stops at POI
print(max(poiStop))

0.0
646.0

In [20]:
#min number of stops at work
print(min(workStop))

#max number of stops at work
print(max(workStop))

0.0
608.0

In [21]:
#The index of the users with min and max

print('max:')
#max number of stops(all stop)
print(np.argmax(stopTypeCount.sum(axis=1)))

#max number of stops at home
print(np.argmax(homeStop))

#max number of stops at other
print(np.argmax(otherStop))

#max number of stops at POI
print(np.argmax(poiStop))

#max number of stops at work
print(np.argmax(workStop))

print('min:')
#min number of stops(all stop)
print(np.argmin(stopTypeCount.sum(axis=1)))

#min number of stops at home
print(np.argmin(homeStop))

#min number of stops at other
print(np.argmin(otherStop))

#min number of stops at POI
print(np.argmin(poiStop))

#min number of stops at work
print(np.argmin(workStop))

max:
60908
60908
19725
74105
66880
min:
1464
965
220
1082
2

In [22]:
#the number of users, that does not have a stop at home
len(users) - len(df[df.stop_type == 'home'].groupby('userId').count())

97

In [23]:
#the number of users, that does not have a stop at other
len(users) - len(df[df.stop_type == 'other'].groupby('userId').count())

1550

In [24]:
#the number of users, that does not have a stop at POI
len(users) - len(df[df.stop_type == 'poi'].groupby('userId').count())

149

In [25]:
#the number of users, that does not have a stop at work
len(users) - len(df[df.stop_type == 'work'].groupby('userId').count())

15647